{% extends "authentication/base.html" %}

{% block content %}
<div id="reset" class="auth">
	<form action="{% url 'authentication:password_reset' %}" method="POST" class="form-signin">
		{% csrf_token %}
		<input type="text" name="username" class="form-control" placeholder="User Name" required autofocus>
		<input type="password" name="password" class="form-control" placeholder="New Password" required>
		<input type="password" name="confirm_password" class="form-control" placeholder="Repeat New Password" required>
		<input type="text" name="token" class="form-control" placeholder="Token" required>
		<button class="btn btn-lg btn-primary btn-block">Submit</button>
		{% if error %}
		<h6 class="error">{{ error }}</h6>
		{% endif %}
	</form>
</div>
{% endblock %}