{% extends "resume/base.html" %}

{% block content %}
{% load static %}

	<div class="experience">
		<h1>Job Experiences</h1>
		<div class="slideshow">
			<div class="slide-wrapper">
				{% for experience in experiences  %}
				<div class="slide">

					<form action="{% url 'resume:update_experience' %}" method="POST">
						{% csrf_token %}
						<button class="btn">Save</button> 
						<a class="btn delete" href="experience/delete_experience/{{experience.id}}">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
						<h2>Company Name</h2>
						<p>
							<input type="text" name="company" value="{{experience.company}}">
						</p>
						<h2>Role</h2>
						<p>
							<input type="text" name="role" value="{{experience.role}}">
						</p>
						<h2>Start Date</h2>
						<p>
							<input type="text" name="start" value="{{experience.startDate}}">
						</p>
						<h2>End Date</h2>
						<p>
							<input type="text" name="end" value="{{experience.endDate}}">
						</p>
						<h2>Description</h2>
						<p>
							<textarea name="description"  maxlength="300">{{experience.description}}</textarea>
						</p>
						<input name="id" value="{{experience.id}}" hidden>
					</form>
				</div>
				{% endfor  %}
				<div class="slide">
					<form action="{% url 'resume:create_experience' %}" method="POST">
						{% csrf_token %}
						<button class="btn">Add to your experiences</button>
						<h2>Company Name</h2>
						<p>
							<input type="text" name="company" value="">
						</p>
						<h2>Role</h2>
						<p>
							<input type="text" name="role" value="">
						</p>
						<h2>Start Date</h2>
						<p>
							<input type="date" name="start" value="">
						</p>
						<h2>End Date</h2>
						<p>
							<input type="date" name="end" value="">
						</p>
						<h2>Description</h2>
						<p>
							<textarea name="description"  maxlength="300"></textarea>
						</p>
					</form>
				</div>
			</div>
		</div>
		<div class="pagination-btns">
		{% for experience in experiences  %}		
			<button id="{{experience.id}}" name="page"
					class="btn {% if experiences.0 == experience %} active {% endif %}"
					onClick="slide(id)">
			</button>
		{% endfor  %}
		</div>
		<button class="btn" onClick="newForm()">+ New Experience</button>
	</div>


{% endblock %}